:root {
  --PRIMARY: #605bff;
  --SECONDARY: #999999;
  --PRIMARY_TEXT: #000000;
  --SECONDARY_TEXT: #858585;
  --LINK: #346bd4;
  --ALERT_RED: #d33030;
  --LIGHT_GOHAN: #ffffff;
  --BG_COLOR: #f8faff;
  --FIELD_COLOR: #eaeaea;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(
    98.8deg,
    var(--PRIMARY) 46.5%,
    var(--BG_COLOR) 20%
  );
}
.link-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  padding-right: 15%;
}
.form-container {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  position: relative;
  height: 4rem;
  width: 4rem;
  align-self: flex-start;
}

.logo > img:first-child {
  position: absolute;
  z-index: 1;
  height: 100%;
}

.logo > img:nth-child(2) {
  position: absolute;
  width: 106%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.base-title {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--LIGHT_GOHAN);
}

.links {
  display: flex;
  gap: 1.5rem;
}

/* right */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 27rem;
  gap: 1.7rem;
}

.form-title {
  display: flex;
  flex-direction: column;
  color: var(--PRIMARY_TEXT);
  gap: 6px;
}
.form-title > p:first-child {
  font-size: 2.25rem;
  font-weight: 700;
}
.form-title > p:nth-child(2) {
  font-size: 1rem;
  font-weight: 400;
}

.login-options {
  display: flex;
  justify-content: space-between;
}
.option {
  display: flex;
  width: 46%;
  height: 2.1rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 0.75rem;
  color: var(--SECONDARY_TEXT);
  cursor: pointer;
  user-select: none;
}

.form {
  padding: 2rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.37rem;
  border-radius: 1.25rem;
}

.link-txt {
  color: var(--LINK);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
  user-select: none;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.input input {
  width: 100%;
  height: 2.75rem;
  outline: none;
  border: none;
  padding: 0 1rem;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  background-color: var(--FIELD_COLOR);
  color: var(--PRIMARY_TEXT);
}

.input input:focus {
  background-color: var(--FIELD_COLOR);
}

.submit-btn {
  height: 2.75rem;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  background-color: var(--PRIMARY);
  cursor: pointer;
}

.register-option {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}
.register-option > p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.register-option > p:last-child {
  color: var(--LINK);
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 1000px) {
  .container {
    background-image: linear-gradient(
      98.8deg,
      var(--PRIMARY) 44%,
      var(--BG_COLOR) 20%
    );
  }
  .sub-container {
    gap: 1.2rem;
    padding: 1rem;
  }
  .base-title {
    font-size: 3rem;
  }
  .register-option > p {
    font-size: 1rem;
  }
  .link-txt {
    font-size: 0.85rem;
  }
  .option {
    font-size: 0.65rem;
  }
  .form-title > p:first-child {
    font-size: 1.9rem;
  }
  .form-title > p:nth-child(2) {
    font-size: 0.85rem;
  }
  .register-option > p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    background-image: none;
    background-color: var(--BG_COLOR);
  }
  .link-container {
    display: none;
    width: 0;
  }
  .form-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .form-title > p:first-child {
    font-size: 1.5rem;
  }
  .form-title > p:last-child {
    font-size: 0.75rem;
  }
  .option p {
    font-size: 0.625rem;
  }
  .register-option {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .register-option > p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  .register-option > p:last-child {
    color: var(--LINK);
    cursor: pointer;
  }
}
